span.cback{
	position:relative;
	top:-50px;
}
#question{ font-size:14px;}
.q-content{
	position:relative;
	float:left;
	left:5px;
	top:5px;
	*left:65px;
	*top:-50px;
	margin-bottom:10px;
	width:520px;
}
.ques-bottom{
	margin-top:15px;
	float:left;
	width:400px;
	height:20px;
}
.getbackmsg{
	display:block;
	margin:15px 0px 0px 0px;
	font-size:14px;
	float:right;
	color:blue;
}
.getbackmsg:hover{
	color:rgb(50, 8, 95);
	cursor:pointer;
	*cursor:pointer;
}
span.time{
	font-size:14px;
}
span.questions{
	word-wrap:break-word;
	font-size:18px;
}
span.ask-ques{
	font-size:16px;
	font-weight:bold;
}
.quser_pic{
	margin-left:0x;
	float:left;
}
#questionarea{float:right;}
#userinfo{
	position:relative;
	width:140px;
	height:70px;
	left:-10px;
	top:-10px;
	background-color:rgb(122, 208, 216);
	border:2px groove rgb(84, 169, 177);
}
#notation{
	overflow:hidden;
	float:right; 
	width:800px;
	height:100px;
	position:relative;
	left:-5px;
	top:-85px;
}
#qus_sort{
	position: absolute;
	right: 190px;
	float: right;
	height: 40px;
	overflow: hidden;
	width: 250px;
	margin: 10px 0px 5px 0px;
}
#qus_top{
	width:100%;
	height:150px;
}
.sort_left{
	overflow:hidden;
	float:left;
	width:115px;
}
.sort_left img{
	height:45px;
	cursor:default;
}
.sort_right input{
	display:block;
	float:right;
	width:115px;
	height:45px;
	background-image:url(../Public/images/21.jpg);
}
.user_pic{
	float:left;
	margin:3px 0px 0px 3px;
}
#credits{
	font-size:12px;
	float:right;
	color:blue;
	width:70px;
	height:50px;
	margin:5px 13px 0px 0px;
	overflow:hidden;
}
span.info{
	margin:8px 5px 5px 5px;
	}
#top2{
	width: 960px;
	height: 170px;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	margin-top: 8px;
	position: relative;
	top: -40px;
}
#top2-1{
	float:left;
	width:500px;
	height:135px;
	margin-top:5px;
}
#start_qus{
	font-size:16px;
	font-weight:bold;
}
#questionarea{
	float:left;
	width:450px;
	height:70px;
	*height:100px;
	margin-top:4px;
	margin-left:5px;
	
}
#questionarea:hover{
	background-color:rgb(237, 245, 241);
}
.cms_input{
	width:400px;
	height:20px;
}
#attach div{
	line-height:38px;
	margin:3px;
	vertical-align:middle;
	font-size: 16px;
}
#attach{
	float: left;
	overflow: hidden;
	width: 500px;
	height: 38px;
	*margin-top:8px;
}
#with_weibo{
	color:red;
	float: left;
	width: 140px;
	*width:145px;
}
#without_name{
	float: left;
	width: 60px;
}
#with_score{
	width: 150px;
	float: left;
	*margin-top:-3px;
}
#input_sub{
	float: left;
}
#input_sub button{
	background-image: url(../Public/images/button.png);
	width:80px;
	height:25px;
	*height:28px;
	margin-top: 5px;
	*margin-top:-3px;
}
#top2-2{
	float:right;
	width:450px;
	height:140px;
	margin: 3px -10px 3px 0px;
}
#top2-2-1{
	float:left;
	width:440px;
	height:40px;
}
#top2-2-1 p{
	font-size:20px;
	margin-left:28px;
	margin-top:10px;
	text-align:left;
}
.asker_userPic{
	text-align:center;
	width:80px;
	margin-left:22px;
	float:left;
}
.asker_userPic img{
	border:3px groove 	#E0EEE0;
	margin:5px 5px 0px 5px;
}
#at_ta{
	float:left;
	display:inline;
	margin-left:10px;
	text-align:center;
}
#fenli{
	width:100%;
	border:1px solid gray;
	margin:55px 1px 1px 1px;
	*display:none;
}
.fn{
	float:left;
	margin-top:5px;
	margin-left:5px;
}
.qes-item{
	width:600px;
	margin:0px 0px 15px 5px;
	border-bottom:1px solid gray;
	float:left;
	background-color:background-color:rgb(230, 239, 247);
} 
.comment{
	width:550px;
	float:left;
	display:none;
	margin-top:10px;
}
.comment li{
	padding:0px;
	display:block;
	width:500px;
	height:70px;
	border-bottom:1px dashed gray;
	background-color:rgb(230, 239, 247);
}
.comment li:hover{
	background-color:rgb(188, 229, 241);
	padding:5px;
}  
.sendcmt{    /*回复按钮*/
	display:block;
	width:75px;
	height:25px;
	margin-right:7px;
	float:right;
	background-image:url(../Public/images/back_msg.png);
	font-size:12px;
}
.cmt_textarea{
	float:left;
	width:550px;
	/* border:1px solid green; */
}
.cmt_textarea textarea{
	margin-left:2px;
	
}
.sub{
	width:415px;
	float:left;
	background-color:rgb(237, 245, 241);
	margin-left:5px;
	margin-bottom:10px;
	*width:415px;
	*margin-bottom:1px;		
}
span.niming{     /* 匿名单选框 */
	font-size:16px;
}
#likequestion{
	float:left;
	margin-top:-30px;
	overflow:scrol;
	height:1200px;
	width:950px;
}
#ul_ques{
	float:left;
}
.setbest{
	font-weight:bold;
	display:block;
	background-color:rgb(34, 177, 223);
	font-size:14px;
	float:right;
}
.setbest:hover{
	padding-top:3px;
	cursor:default;
}
.pagination{
	float:left;
	margin:10px;
	width:550px;
	height:80px;
	text-align:center;
}

.li-left-pic{
	margin:3px;
	float:left;
	width:30px;
	height:30px;
	/* border:1px solid red; */
}
.li-reply-content{
	font-size:16px;
	float:left;
	width:455px;
	margin-left:1px;
	margin-top:3px;
	margin-bottom:0px;
	/* border:1px solid red; */
}
.li-reply-legend{                 /*这个的位置改如何定制呢。。。*/
	font-size:14px;
	width:460px;
	float:left;
	margin-top:3px;
	margin-left:38px;
	/* border:1px solid red; */
}
.li-reply-legend span.atime{
	margin-left:0px;
	margin-right:12px;
}
.li-reply-legend span.span-credit{      
	margin-left:12px;
	margin-right:12px;
}
.li-reply-legend span.span-exp{
	margin-left:12px;
	margin-right:12px;
}
.li-reply-legend  span.best_a{
	margin-left:12px;
}


